# Raw and PreProc Data
data/
data/*
data/**

# whitelist (include) the data folder under src
!/src/data/
!/src/data/*
!/src/data/**

# Images, videos and texts
*.pdf
*.mpg

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Ziped
*.zip

# Executables
*.exe
*.out
*.app

# Version control
*~
*.*~
*.swp

# Python checkpoints
*.ipynb_checkpoints/

# Mac folder header
.DS_store

# Others
.fuse*
